<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .sidebar {
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0.9));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 5px 7px 25px #999;
    }
</style>
<body>
<!--navbar -->
<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#sidebar">
        <span class="navbar-toggle-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sidebar">
        <div class="container-fluid">
            <div class="row">
                <!--sidebar-->
                <div class="col-lg-3 sidebar fixed-top"></div>
                <!--top navbar -->
                <dlv class="col-lg-9"></dlv>
            </div>
        </div>
    </div>
</nav>
</body>
</html>